@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  ::-webkit-scrollbar {    
    display: none;    
  }

  body {
    @apply text-white-powder bg-black-rich;
  }
}
